@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

*{
    margin: 0;
    padding: 0;
}

.first-section, .second-section, .third-section{
    font-family: "Josefin Sans", sans-serif;
    height: 70px;
    padding-left: 10px;
    font-size: 24px;
}

.first-section, .third-section{
    background-color: #FFFF00;
    border: 1px solid #FFFF00;
}

.second-section{
    background-color: #ED2251;
    border: 1px solid;
}

.third-section{
    text-transform: uppercase;
}