@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.first-section, .second-section, .third-section{
    border: none;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    display: inline-block;
    height: 63px;
    margin: 10px 3px;
    padding: 5px;
    width: 180px;
}

.first-section, .third-section{
    background-color: #FFFF00;
}

.second-section{
    background-color: #ED2251;
}

.third-section{
    text-transform: uppercase;
}

.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7{
    background-color: #CCCCCC;
    border: 2px solid #9C9C9C;
    display: inline-block;
    height: 50px;
    margin: 5px 3px;
    width: 50px;
}

.contains-three-boxes{
    background-color: #CCCCCC;
    border: 2px solid #9C9C9C;
    margin-left: 5px;
    margin-bottom: 5px;
    padding-left: 2px;
    width: 185px;
}

.box-7{
    display: block;
}