@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.first-section, .second-section, .third-section{
    border: none;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    display: inline-block;
    height: 63px;
    margin: 10px 3px;
    padding: 5px;
    width: 180px;
}

.first-section, .third-section{
    background-color: #FFFF00;
}

.second-section{
    background-color: #ED2251;
}

.third-section{
    text-transform: uppercase;
}